/* ============FOOTER============ */



/* TOP FOOTER */
.top_footer {
    width: 100%;
    background-color: #fff;
    margin-bottom: 0;
}

.top_footer_div {
    margin: 30px 10px;
    padding: 40px 0px;
}

.top_footer_div h3 {
    color: #8cbc67;
    font-size: 22px;
    letter-spacing: 1px;
}

.top_footer_div p {
    color: #777777;
    font-size: 15px;
    margin-top: 30px;
}

.top_footer_div h4 {
    color: #242424;
    font-size: 18px;
    margin-top: 25px;
}

.top_footer_ul {
    margin-left: 20px;
}

.top_footer_ul li {
    color: #777777;
    margin-top: 20px;
}

.top_footer_ul li::marker {
    color: #242424;
}

/* HIDE THE FOOTER */

.top_footer_content {
    position: relative;

    max-height: 300px;

    overflow: hidden;

    transition: max-height 0.4s ease;
}

.top_footer_content::after {
    content: "";

    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;

    height: 80px;

    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0),
            #fff);

    pointer-events: none;
}

.top_footer_content.expanded {
    max-height: 2000px;
}

.top_footer_content.expanded::after {
    opacity: 0;
}

.footer_button img {
    width: 14px;
    height: 14px;
}

.footer_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#topFooterButton {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    margin-top: 20px;
}


/* BOTTOM FOOTER */
.bottom_footer {
    width: 100%;
    background-color: #8cbc67;
    color: #fff;
}

.bottom_footer_div {
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
}

.top_items {
    display: flex;
    justify-content: flex-start;
    padding: 60px 0 50px;
}

.logo_footer {
    width: 35%;
}

.logo_footer_p_div {
    margin-left: 20px;
}

.logo_footer_p_div p {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
}

.useful_links_footer{
    margin-left: 100px;
}

.popular_category_footer,
.useful_links_footer,
.available_on_footer {
    min-width: 160px;
}

.popular_category_footer h3,
.useful_links_footer h3,
.available_on_footer h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
}

.popular_category_footer ul,
.useful_links_footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.popular_category_footer li,
.useful_links_footer li {
    margin-bottom: 13px;
}

.popular_category_footer a,
.useful_links_footer a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.popular_category_footer a:hover,
.useful_links_footer a:hover {
    color: #fff;
}

.available_on_images {
    display: flex;
    gap: 10px;
    
}

.social_link h3{
    margin-top: 30px;
}

.social_link div{
    display: flex;
    margin-top: 0;
}

.available_on_footer{
    margin-left: 100px;

}

.available_on_images img {
    width: 135px;
    height: auto;
}

.newsletter_footer {
    padding: 40px 0;
    background-color: #81b347;
    display: flex;
    width: 96%;
    margin: 0px 30px;
    border-radius: 20px;
    height: 150px;
    align-items: center;
    justify-content: space-between;
}

.newsletter_footer h2 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-left: 20px;
}

.newsletter_footer p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.newsletter_form {
    display: flex;
    width: 450px;
}

.newsletter_form input {
    flex: 1;
    height: 45px;
    border: none;
    padding: 0 15px;
    outline: none;
    border-radius: 10px;
    margin-right: 10px;
}

.newsletter_form button {
    width: 120px;
    color: #fff;
    background-color: black;
    height: 45px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
}

.footer_bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 0;
}

.footer_bottom p {
    color: #fff;
    font-size: 16px;
}

.footer_bottom_links {
    display: flex;
    gap: 25px;
}

.footer_bottom_links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer_bottom_links a:hover {
    color: #fff;
}